cffi>=1.11,<2.0.0
xcffib>=0.6.0,<1.0.0
click>=6.7,<9.0.0
xpybutil>=0.0.6,<1.0.0
pyyaml>=5.1,<6.0.0
marshmallow >=2.15.0,<4.0.0
i3ipc>=2.1.1,<3.0.0
pdbpp
pytest
pytest-cov
pytest-factoryboy
pytest-runner
pytest-lazy-fixture
